/* import fonts */

/* Cedarville Cursive */
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
/* to use font use:
* font-family: 'Cedarville Cursive', cursive;
*/


/* begin desktop view css */


html {
  display: block;
  color: white;
  background-color: #0E1112;
}

/* begin desktop sidepanel css */

.sidepanel-wrap {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding-right: 4%;
  border: 3px solid #1C581A;
  background-color: #0E1112;
}


.sidepanel {
  color: white;

}

.sidepanel-title {

  font-size: 1.75em;
  margin-left: 20%;
  margin-bottom: 10%;
  text-align: center;
  font-family: 'Cedarville Cursive', cursive;
}

.linknav {

}

@keyframes increase_sidepanel_font_size {
  0% {font-size: 20px;}
  100% {font-size: 22px;}
}

.sidepanel-list {
  margin-top: 0em;
  margin-left: 1em;
  text-align: center;
}

.sidepanel-li {
  margin: 1em;
  font-size: 1.25em;
}

.sidepanel-a {

}

.sidepanel-li:hover {
  font-size: 22px;
  animation-name: increase_sidepanel_font_size;
  animation-duration: 0.5ss;
  
}

.sidepanel-a:visited {
  color: white;
}


/* end desktop sidepanel */

/* begin desktop social media icons */

.social-wrap {
  width: 20%;
  text-align: center;
  margin: 0 auto;
}
.social-nav {
}

.social-a {
  margin: 0 auto;
}

@keyframes increase_icon_size {
  0% {font-size: 25px;}
  25% {font-size: 27px;}
  50% {font-size: 29px;}
  75% {font-size: 32px;}
  100% {font-size: 35px;}
}
.social-a:hover {

}

.social-a:visited {

}

.fa-brands {
  margin: 0em .5em 0em .5em;
  font-size: 1.5em;
  
  font-size: 25px;
}

.fa-brands:hover {
  animation-name: increase_icon_size;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  font-size: 35px;
}

.fa-twitter {
  color:	#1DA1F2;
}

.fa-github {
  color: white;
}

/* end desktop social media icons */

/* end desktop sidepanel css */



/* begin mobile header */
.header > * {
  height: 0px;
  visibility: hidden;
  background-color: black;

}


/* end mobile header */




/* begin desktop body css */
.intro {
  text-align: center;
  margin: 0 auto;
  font-family: 'Cedarville Cursive', cursive;
}

.my-index-picture {
  border-radius: 50%;
  height: 100px;
  width: auto;
  margin-left: 47%;
  margin-top: 1em;
}

.intro-text {
  text-align: center;
  width: 50%;
  position: relative;
  margin-left: 26%;
}


/* end desktop body css */

/* begin desktop footer css */

/* begin desktop footer css */


/* begin desktop view css */


/* Mobile view */

@media all and (max-width: 900px) {

  html {
    /* temporary code for testing media break */
    background-color: black;
  }

  /* begin mobile sidepanel */

  .sidepanel-wrap {
    position: absolute;
    margin-left: -10em;
  }

  .sidepanel-wrap > * {
    position: absolute;
    margin-left: -10em;
  }

  /* end mobile sidepanel */

  /* begin mobile header */
  nav {

    height: 1px !important;
  }

  .header {
    z-index: 10;

    height: 50px !important;
  }

  .header > * {
      display: block;
      visibility: visible !important;
      width: 97vw;
      height: 100px;
    }

  .home-intro {
    visibility: visible;
    width: 50vw;
    font-size: .9em;
  }


  .menu-header {
    visibility: visible;
    padding: 0 20px;
  }

  .header-tag {
    font-family: 'Cedarville Cursive', cursive;
    margin-left: 1em;
  }

  .menu-nav {
    visibility: visible;
    position: absolute;
    width: 100%;
    background: #333;
    top: 3em;
    left: -120%;
    transition: 0.5s;
    height: calc(100vh - 50px);
  }

  .menu-nav-active {
    visibility: visible;
    position: absolute;
    width: 100%;
    background: #0a0808;
    top: 5em;
    left: 0%;
    transition: 0.5s;
    height: calc(100vh - 50px);
    color:white;
  }

  .menu-nav > ul {
    visibility: visible;
    display: block;
    text-align: center;
  }
  .menu-list > a {
    visibility: visible;
    border-bottom: 1px solid black;
  }
  .menu-list > a:hover {
    visibility: visible;
    background-color: grey;
  }
  .menu-list > a {
    visibility: visible;
    text-align: center;
    margin: 0 auto;
    width: 100vw;
  }

  .menu-toggle {
    visibility: visible;
    display: block;
    line-height: 3em;
    z-index: 10;
  }

  .fa-bars {
    position: absolute;
    right: 3em;
    top: 3em;
  }
  /* end mobile header */


  /* begin mobile body wrap */
  .my-index-picture {
    margin-left: 40%;
  }

  .body-wrap {

    margin-top: 15%;
    position: relative;
    display: block;

  }

  .intro-text {
    text-align: center;
  }


  /* end mobile body wrap */

}
